body{
    margin: 0;
    background-color: rgb(19, 19, 19);
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    height: 7vh;
}
nav{
    display: flex;
    gap: 2vw;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .2s all;
}
nav a:hover{
   text-shadow: 0px 0px 10px wrgba(255, 255, 255, 0.547)
}

#header{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 5vh;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    
}
#img-p{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    background-color: rgb(27, 27, 27);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#img-p img{
    max-width: 10vw;
    border-radius: 10px;
}

#img-p p{
    color: white;
    max-width: 20vw;
    min-width: 0vw;
}

#items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-wrap:break-word;
    gap: 10vw;
    margin-top: 20vh;
    flex-wrap: wrap;
    
    
}
#item{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: rgb(28, 28, 28);
    transition: .2s all;
     flex-wrap: wrap;
   min-height: 220px;
   min-width: 220px;
    
}
#item img{
    max-width: 15vw;
}
#item p{
    color: white;
    max-width: 15vw;
    text-align: center;
    text-wrap: wrap;
}

#item:hover{
    transform: scale(110%);
}



#contacts{
    display: grid;
    grid: "contact1 contact2 contact3"
          "contact4 contact5 contact6"  ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr  ;
    
    gap:10px;
}

#contacts div{
    background-color: rgb(20, 20, 20);
    padding: 10px;
    max-width: 200px;
    /* border: 1px solid white; */
    border-radius: 10px;
}

#contacts div img{
    max-width: 5vw;
    border-radius: 40px;
}
#contact-name{
    color: rgb(246, 246, 246);
}
#mob-number{
    color: white;
    font-style: italic;  
}

#contact1{
    grid-area: contact1;
}
#contact2{
    grid-area: contact2;
}
#contact3{
    grid-area: contact3;
}
#contact4{
    grid-area: contact4;
}
#contact5{
    grid-area: contact5;
}
#contact6{
    grid-area: contact6;
}
